 
<body id="event-background">
<div class="card-body" id="event" style="background-color: rgb(235, 235, 235);">
  <div class="card">
    <br>
        {{!-- event info --}}
        <div class="card-body" data-id="{{result.id}}">
          <h4 class="card-title center ml-4 mr-4 p-4" style="background-color: rgb(235, 235, 235);" id="name">{{result.name}}</h4>
        </div>
        <div class="card ml-5 mr-5 p-4">
                <span class="row ml-3">
                  <div class="ml-2">
                    <strong>Address: </strong>
                  </div>
                  {{#if result.number}}
                  <div class="ml-2" type="text" id="number">{{result.number}}</div>
                  {{/if}}
                  <div class="ml-2" type="text" id="street">{{result.street}}</div>
                  <div class="ml-2" type="text" id="city">{{result.city}}</div>
                  <div class="ml-2" type="text" id="zipcode">{{result.zipcode}}</div>
                </span>

                <div class="card-body row m-2">
                <div class="col-sm-3">
                  <label for="start-time">start time: </label>
                  <div id="starttime" type="time" name="appt-time" value="00:00">{{result.starttime}}</div>
                </div>
                <div class="col-sm-3">
                  <label for="end-time">end time: </label>
                  <div id="endtime" type="time" name="appt-time" value="00:00">{{result.endtime}}</div>
                </div>
                <div class="col-sm-3">
                  <label for="date">date: </label>
                  <div id="date" class="occasion-date" data-value="{{result.date}}" type="date" name="date">{{result.date}}</div>
                </div>
              </div>

              <div class="p-4">
                <div class="form-row">
                  <label class="col-sm-1.5 ml-2" for="food">What will you bring? : </label>
                  <input class="col-sm-4" id="food" type="text" value=""></input>
                  <div class="row ml-4" type="text" id="restrictions">Dietary Restrictions :</div>
                  {{!--
                  <label for="food">Food You will Bring: </label>
                  <input id="food" type="text" value=""></input> --}}
                </div>
              
              </div>
          </div>
  <br>


  <h4 class="align-center row ml-5 mr-5 p-4" style="background-color: rgb(235, 235, 235);">Who Is Going?</h4>
        <div class = "row ml-5 mr-5" >
        {{!-- Who will be going? --}}
          {{#each resultfriends}}
          <div class="col-4">{{> user/user-block}}</div> 
          {{/each}}
        </div>

    
  <h4 class="row ml-5 mr-5 p-4" style="background-color: rgb(235, 235, 235)">Foods</h4>
    {{!-- form for displaying event restrictions --}}
      <div class="row ml-5 mr-5">
        {{!-- Who will be going? --}}
      
        <div class="col-4">{{> food/food-block}}</div>
        <div class="col-4">{{> food/food-block}}</div>
        <div class="col-4">{{> food/food-block}}</div>
      </div>
    </div>
    
    <br>

    <button id="event-submit" type="submit-button" class="btn btn-outline m-5">Update Event</button>

    <br>
    <br>


</div>
<script src="/assets/js/occasion.js"></script>
</body>
