
<h1>All of Users and Their Pets</h1>

 {{#each userdata}}
    
	<div>
	<h2>{{userName}}</h2>
    <p>{{address}}</p>
    <p>{{phone}}</p>
    <h2>{{species}}:</h2>
    <p>{{petName}}</p>
   

	</div>
	<hr>
  {{/each}}



 
