
<li>
    {{name}}

    <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
        {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
    </button>

    <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>


<div class="card p-4 m-4">

    <div class="card-body" data-id="{{id}}">

    <h5 class="card-title" id="name">Event Name</h5>
    <li>
        <label class="col-sm-1" for="end-time">end time: </label>
        <div id="endtime" type="time" name="appt-time" value="00:00">00:00 AM</div>

        <label class="col-sm-1" for="start-time">start time: </label>
        <div id="starttime" type="time" name="appt-time" value="00:00">00:00 AM</div>

        <label class="col-sm-1" for="date">date: </label>
        <div id="date" type="date" name="date" value="">date</div>
    </li>
    <p class="card-text">Location</p>
    <card class="row">
        <div type="text" id="number">number</div>
        <div type="text" id="street">street</div>
        <div type="text" id="city">city</div>
        <div type="text" id="zipcode">zipcode</div>
    </card>

    <div type="text" id="restrictions">restrictions</div>

    </div>
</div>
{{!-- {{user}} --}} {{!--
<div data- "{{id}}">
    {{#if event-id="yes"}}SLEEP TIME!{{else}}WAKE UP!{{/if}}</div> --}}
