<<<<<<< HEAD
<script>
        var block = "";
        block += "<div class='col-4'>";
          block += "<div class='card' style='margin-top:25px;'>";
            block +="<img class='card-img-top img-fluid' src='http://visitlawrencecounty.com/wp-content/uploads/2017/11/picnic.jpg' alt='Card image cap'>";
            block +="<div class='card-body'>"              
              block +="<h5 class='card-title'>"+name+"</h5>";
              block +="<ul>";
                if(posts[index].number == 0) {
                  block +="<li>Address: "+posts[index].street+", "+posts[index].zipcode+"</li>";
                } else {
                  block +="<li>Address: "+posts[index].number+" "+posts[index].street+", " + posts[index].city +", "+posts[index].zipcode+"</li>";
                }
                block +="<li>Date: "+posts[index].date+"</li>";
                block +="<li>Time"+posts[index].starttime+", "+post[index].endtime+"</li>";
                block +="<li>"+posts[index].name+"</li>";
              block +="</ul>";
              block += "<a class='btn btn-primary href='event/"+ id >More details</a>;
            block +="</div>";            
          block +="</div>";
        block +="</div>";
</script>

<!-- <p> This is the users navigation page, where the user can navigate to and from the home,
  to create an event after logging in/creating a profile.</p> -->

<body id="usernavbody">
  <div class="container" id="usernav-card">
    <div class="card usernavcard">
      <div class="card-header">
        <h3>Let us point you in the right direction...</h3>
      </div>
      <div class="card-body">
        <h4 class="usernavheader"> Navigate:
          <hr>
          <!-- buttons -->
          <!-- create event -->
          <a href="/createevent/" class="btn btn-secondary"> Create Event </a>
          <!-- join event // NON FUNCTIONAL -->
          <a href="" class="btn btn-secondary joinbtn"> Join Existing Event </a>
          <!-- Update profile, goes back to create -->
          <a href="/createprofile" class="btn btn-secondary updatebtn"> Update Profile </a>
          <br>
          <br>

        </h4>

        <h5 class="card-title">
          Create an event:
        </h5>
        <hr>
        <p class="card-text">
          Create an event in your area, just input the information for the time, date, location, etc in the form and tah-dah! You've
          got yourself a party!
        </p>
        <h5 class="card-title">
          Join Existing Event:
        </h5>
        <hr>
        <p class="card-text">
          Have your friends already created an event you'd like to attend? Or maybe you're curious about the pre-existing events in
          your area? Join and browse now!
        </p>
        <h5 class="card-title">
          Update Profile:
        </h5>
        <hr>
        <p class="card-text">
          A change in your taste preference? New food allergy? All around new diet choices? Don't worry! We've got you covered. Re-edit
          any preferences you may have previously entered into your profile so you don't see the events you can't eat at!
        </p>




      </div>

    </div>
  </div>
  <!-- closes usernav container-->


  <div class="container">
    <div class="row container occasions">
      <!--!!! Changed the class from container-occasions to: container occasions !!!-->

      <!-- add occasions here -->

    </div>
  </div>

</body>

<!--  JS Script source -->
<script src="/assets/js/usernav.js"></script>
=======

<div class='col-4'>
    <div class='card' style='margin-top:25px;'>
        <img class='card-img-top img-fluid' src='{{this.image}}' alt='Card image cap'>
        <div class='card-body'>
            <h5 class='card-title'>{{this.name}}</h5>
            <ul>
                <li>Address: {{this.number}} {{this.street}} {{this.zipcode}}</li>
                <li>{{this.city}}</li>
            </ul>
            <a href='/event/{{this.id}}/user/{{this.UserId}}' class='btn btn-primary'>More details</a>

        </div>
    </div>
</div>
>>>>>>> 0442c7389bea512fc9b40a9d15045ff8226f027e
