<div class='col-4'>
    <div class='card' style='margin-top:25px;'>
        <img class='card-img-top img-fluid' src='{{this.image}}' alt='Card image cap'>
        <div class='card-body'>
            <h5 class='card-title'>{{this.name}}</h5>
            <ul>
                <li>Address: {{this.number}} {{this.street}} {{this.zipcode}}</li>
                <li>{{this.city}}</li>
            </ul>
            <a href='/event/{{this.id}}/user/{{this.UserId}}' class='btn btn-primary'>More details</a>

        </div>
    </div>
</div>